.header{
    background: $White;
    height: 75px;
    color: $DarkBlue;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .13);

    > .container{
        
    }

    &__tittle{
        
        a{
            font-size: 2.4rem;
            font-weight: 800;

            @include breakpoint-down(small){
                font-size: $HomePageSize;
            }
        }
    }

    &__mode{
        user-select: none;
        cursor: pointer;
        margin-left: auto;
        padding: 10px;
        //border-top: 1px solid rgba($color: #000000, $alpha: .05);
        box-shadow: 0 0px 5px rgba($color: #000000, $alpha: .4);
        border-radius: 20px;
        
        i{
            font-size: 2rem;
            
            @include breakpoint-down(small){
                font-size: $HomePageSize;
            }
        }
        
        p{
            font-size: $HomePageSize;
            font-weight: 800;   
            margin-left: 5px;
        }

        &:active{
            background-color: rgba(0,0,0,.05);
            box-shadow: none;
            
            filter: drop-shadow(0 0 5px rgba(192, 190, 190, 0.2));
        }
    }
}